@model HomeViewModel

<div class="container">

    <!--====== Primary Slider ======-->
    <div class="s-skeleton s-skeleton--h-600 s-skeleton--bg-black">
        <div class="owl-carousel primary-style-2" id="hero-slider">
            @if (Model.SliderList != null && Model.SliderList.Count > 0)
            {
                @foreach (var item in Model.SliderList)
                {
                    <div class="hero-slide hero-slide--4" style="background:url('@(item.Image)') center center no-repeat">
                        <div class="primary-style-2-container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider-content slider-content--animation">

                                        <span class="content-span-1 u-c-white">@item.Title1</span>

                                        <span class="content-span-2 u-c-white">@item.Title2</span>

                                        <span class="content-span-3 u-c-white">@item.Description</span>

                                        <a class="shop-now-link btn--e-brand" href="@item.Url">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <!--====== End - Primary Slider ======-->
</div>