@model HomeViewModel

@{
    ViewData["Title"] = "Home page";
}

<div class="app-content">
    <div class="bg-anti-flash-white">
        <div class="white-container">
            <partial name="~/Views/Home/_slider.cshtml" />
            @foreach (var parentCategory in Model.CategoryList.Where(x => x.Parentid == 0 && x.Homecategory == 1))
            {

                <div class="u-s-p-y-60" id="electronic-01">

                    <div class="section__intro u-s-m-b-46">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="block">

                                        <span class="block__title">@parentCategory.Name TOP CATEGORY</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section__content">
                        <div class="container">
                            <div class="row">

                                @foreach (var item in Model.CategoryList.Where(x => x.Parentid == parentCategory.Id).OrderBy(o => o.Displayorder).Take(4))
                                {
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                                        <div class="category-o">
                                            <div class="aspect aspect--bg-grey aspect--square category-o__img-wrap">

                                                <img class="aspect__img category-o__img" src="~/upload/categories/@item.Image" alt="">
                                            </div>
                                            <div class="category-o__info">

                                                <a class="category-o__shop-now btn--e-white-brand" href="/Category/@item.Slug">@item.Name</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="u-s-p-b-60">
                    <div class="section__intro u-s-m-b-46">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="block">
                                        <span class="block__title">@parentCategory.Name</span>
                                        <ul class="nav tab-list">
                                            <li class="nav-item">
                                                <a class="nav-link btn--e-white-brand-shadow" data-toggle="tab" href="#e-l-p">LATEST PRODUCTS</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link btn--e-white-brand-shadow active" data-toggle="tab" href="#e-b-s">BEST SELLING</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link btn--e-white-brand-shadow" data-toggle="tab" href="#e-t-r">TOP RATING</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link btn--e-white-brand-shadow" data-toggle="tab" href="#e-f-p">FEATURED PRODUCTS</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section__content">
                        <div class="container">
                            <div class="tab-content">
                                @foreach (var item in Model.CategoryList.Where(x => x.Parentid == parentCategory.Id))
                                {
                                    <div class="tab-pane" id="e-l-p">
                                        <div class="slider-fouc">
                                            <div class="owl-carousel tab-slider" data-item="4">
                                                @foreach (var product in Model.ProductList.Where(x => x.Categoryid == item.Id).ToList())
                                                {
                                                    <div class="u-s-m-b-30">
                                                        <div class="product-o product-o--hover-on">
                                                            <div class="product-o__wrap">

                                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                                    <img class="aspect__img" src="@product.Image" alt="">
                                                                </a>
                                                                <div class="product-o__action-wrap">
                                                                    <ul class="product-o__action-list">
                                                                        <li>

                                                                            <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                                        </li>
                                                                        <li>

                                                                            <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a>
                                                                        </li>
                                                                        <li>

                                                                            <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a>
                                                                        </li>
                                                                        <li>

                                                                            <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <span class="product-o__category">


                                                                <a href="/Category/@item.Slug">
                                                                    @(item.Name)
                                                                </a>
                                                            </span>

                                                            <span class="product-o__name">

                                                                <a href="/@product.Id/@(product.Easyurl)">
                                                                    @(product.Name)
                                                                </a>
                                                            </span>
                                                            <div class="product-o__rating gl-rating-style">
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <span class="product-o__review">(0)</span>
                                                            </div>
                                                            <span class="product-o__price">
                                                                @if (product.Discount != null && (product.Discountlastdate != null && product.Discountlastdate > DateTime.Now))
                                                                {
                                                                    <span class="product-o__discount">
                                                                    @Html.Raw("$" + product.Discount)
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    @Html.Raw("$" + product.Price)
                                                                }
                                                            </span>
                                                        </div>
                                                    </div>

                                                }

                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                    <div class="u-s-p-b-60">
                    </div>
                    <!--====== End - Section 7 ======-->
                    <!--====== Section 8 ======-->
                    <div class="u-s-p-b-60">

                        <!--====== Section Intro ======-->
                        <div class="section__intro u-s-m-b-46">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="section__text-wrap">
                                            <h1 class="section__heading u-c-secondary u-s-m-b-12">FLASH DEALS</h1>

                                            <span class="section__span u-c-silver u-s-m-b-16">FILL YOUR CART WITH FLASH PRODUCTS</span>
                                            <div class="section_countdown-wrap">
                                                <div class="countdown countdown--style-section" data-countdown="2020/05/01"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--====== End - Section Intro ======-->
                        <!--====== Section Content ======-->
                        <div class="section__content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">

                                        <!--====== Product Orientation Version 2 ======-->
                                        <div class="product-o2 u-h-100">
                                            <div class="product-o2__wrap">

                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                    <img class="aspect__img product-o2__img" src="images/product/women/product11.jpg" alt="">
                                                </a>
                                                <div class="product-o2__action-wrap">
                                                    <ul class="product-o2__action-list">
                                                        <li>

                                                            <a data-modal="modal" data-modal-id="#quick-look" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                        </li>
                                                        <li>

                                                            <a data-modal="modal" data-modal-id="#add-to-cart" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a>
                                                        </li>
                                                        <li>

                                                            <a href="signin.html" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a>
                                                        </li>
                                                        <li>

                                                            <a href="signin.html" data-toggle="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-o2__content">

                                                <span class="product-o2__category">

                                                    <a href="shop-side-version-2.html">Women Clothing</a>
                                                </span>

                                                <span class="product-o2__name">

                                                    <a href="product-detail.html">New Dress H Nice Elegant</a>
                                                </span>
                                                <div class="product-o2__rating gl-rating-style-2">
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o2__review">(23)</span>
                                                </div>

                                                <span class="product-o2__price">
                                                    $125.00

                                                    <span class="product-o2__discount">$160.00</span>
                                                </span>
                                            </div>
                                        </div>
                                        <!--====== End - Product Orientation Version 2 ======-->
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">

                                        <!--====== Product Orientation Version 2 ======-->
                                        <div class="product-o2 u-h-100">
                                            <div class="product-o2__wrap">

                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                    <img class="aspect__img product-o2__img" src="images/product/women/product12.jpg" alt="">
                                                </a>
                                                <div class="product-o2__action-wrap">
                                                    <ul class="product-o2__action-list">
                                                        <li>

                                                            <a data-modal="modal" data-modal-id="#quick-look" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                        </li>
                                                        <li>

                                                            <a data-modal="modal" data-modal-id="#add-to-cart" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a>
                                                        </li>
                                                        <li>

                                                            <a href="signin.html" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a>
                                                        </li>
                                                        <li>

                                                            <a href="signin.html" data-toggle="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-o2__content">

                                                <span class="product-o2__category">

                                                    <a href="shop-side-version-2.html">Women Clothing</a>
                                                </span>

                                                <span class="product-o2__name">

                                                    <a href="product-detail.html">New Dress I Nice Elegant</a>
                                                </span>
                                                <div class="product-o2__rating gl-rating-style-2">
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o2__review">(23)</span>
                                                </div>

                                                <span class="product-o2__price">
                                                    $125.00

                                                    <span class="product-o2__discount">$160.00</span>
                                                </span>
                                            </div>
                                        </div>
                                        <!--====== End - Product Orientation Version 2 ======-->
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">

                                        <!--====== Product Orientation Version 2 ======-->
                                        <div class="product-o2 u-h-100">
                                            <div class="product-o2__wrap">

                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                    <img class="aspect__img product-o2__img" src="images/product/women/product13.jpg" alt="">
                                                </a>
                                                <div class="product-o2__action-wrap">
                                                    <ul class="product-o2__action-list">
                                                        <li>

                                                            <a data-modal="modal" data-modal-id="#quick-look" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                        </li>
                                                        <li>

                                                            <a data-modal="modal" data-modal-id="#add-to-cart" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a>
                                                        </li>
                                                        <li>

                                                            <a href="signin.html" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a>
                                                        </li>
                                                        <li>

                                                            <a href="signin.html" data-toggle="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-o2__content">

                                                <span class="product-o2__category">

                                                    <a href="shop-side-version-2.html">Women Clothing</a>
                                                </span>

                                                <span class="product-o2__name">

                                                    <a href="product-detail.html">New Dress J Nice Elegant</a>
                                                </span>
                                                <div class="product-o2__rating gl-rating-style-2">
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o2__review">(23)</span>
                                                </div>

                                                <span class="product-o2__price">
                                                    $125.00

                                                    <span class="product-o2__discount">$160.00</span>
                                                </span>
                                            </div>
                                        </div>
                                        <!--====== End - Product Orientation Version 2 ======-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-s-p-b-60">
                        <div class="section__content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                        <div class="service u-h-100">
                                            <div class="service__icon"><i class="fas fa-truck"></i></div>
                                            <div class="service__info-wrap">
                                                <span class="service__info-text-1">Free Shipping</span>
                                                <span class="service__info-text-2">Free shipping on all US order or order above $200</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                        <div class="service u-h-100">
                                            <div class="service__icon"><i class="fas fa-redo"></i></div>
                                            <div class="service__info-wrap">
                                                <span class="service__info-text-1">Shop with Confidence</span>
                                                <span class="service__info-text-2">Our Protection covers your purchase from click to delivery</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                        <div class="service u-h-100">
                                            <div class="service__icon"><i class="fas fa-headphones-alt"></i></div>
                                            <div class="service__info-wrap">
                                                <span class="service__info-text-1">24/7 Help Center</span>
                                                <span class="service__info-text-2">Round-the-clock assistance for a smooth shopping experience</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>