@model BankDO

@{
    var uploadViewModel = new UploadViewModel
            {
                ActionResult = "../upload",
                MaxFiles = 1
            };
}

<div class="row">
    @if (ViewBag.error != null)
    {
        <div class="alert">
            <div class="alert-danger">
                @ViewBag.error
            </div>
        </div>
    }
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Editing @Model.Name Bank</h4>
                <form class="form-horizontal p-t-20" method="post" >
                    <spinput asp-for="@Model.Id" type="hidden"></spinput>
                    <spinput asp-for="@Model.CreatedAt" type="hidden"></spinput>
                    <spinput asp-for="@Model.Name"></spinput>
                    <spinput asp-for="@Model.Description"></spinput>
                    <spinput asp-for="@Model.Installment"></spinput>
                    <spinput asp-for="@Model.Order"></spinput>
                    <spinput asp-for="@Model.Iban"></spinput>
                    <spupload></spupload>
                    <spinput asp-for="@Model.Logo" addclass="image" type="hidden"></spinput>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_singleUpload" model="uploadViewModel"></partial>
}