@model BrandDO

<div class="row">
    @if (ViewBag.error != null)
    {
        <div class="alert">
            <div class="alert-danger">
                @ViewBag.error
            </div>
        </div>
    }
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Editing @Model.Name Brand</h4>
                <form class="form-horizontal p-t-20" method="post">
                    <spinput asp-for="@Model.Id" type="hidden"></spinput>
                    <spinput asp-for="@Model.CreatedAt" type="hidden"></spinput>
                    <spinput asp-for="@Model.Name"></spinput>
                    <spinput asp-for="@Model.Slug"></spinput>
                    <spinput asp-for="@Model.Displayorder"></spinput>
                    <spinput asp-for="@Model.Title"></spinput>
                    <spinput asp-for="@Model.Description"></spinput>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>