@model CategoryViewModel

@{
    var uploadViewModel = new UploadViewModel
            {
                ActionResult = "./Upload",
                MaxFiles = 1
            };
}

<div class="row">
    @if (ViewBag.error != null)
    {
        <div class="alert">
            <div class="alert-danger">
                @ViewBag.error
            </div>
        </div>
    }
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create a new Category</h4>
                <form class="form-horizontal p-t-20" method="post">
                    <spinput asp-for="@Model.CategoryDO.Name"></spinput>
                    <spinput asp-for="@Model.CategoryDO.Description"></spinput>
                    <spinput asp-for="@Model.CategoryDO.Pagetitle"></spinput>
                    <spinput asp-for="@Model.CategoryDO.Metadescription"></spinput>
                    <spinput asp-for="@Model.CategoryDO.Slug"></spinput>
                    <spselect asp-items="@(new SelectList(Model.CategoryDOList, "Id", "Name"))"
                              asp-for="@Model.CategoryDO.Parentid" asp-text="Select Parent Category"></spselect>
                    <spupload></spupload>
                    <spinput type="hidden" asp-for="@Model.CategoryDO.Image" addclass="image"></spinput>
                    <spbutton asp-value="Create"></spbutton>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_singleUpload" model="uploadViewModel"></partial>
}