@model ProvinceDO

@{
}

<div class="row">
    @if (ViewBag.error != null)
    {
        <div class="alert">
            <div class="alert-danger">
                @ViewBag.error
            </div>
        </div>
    }
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Editing @Model.Name Province</h4>
                <form class="form-horizontal p-t-20" method="post">
                    <spinput asp-for="@Model.Id" type="hidden"></spinput>
                    <spinput asp-for="@Model.Name"></spinput>
                    <spinput asp-for="@Model.Order"></spinput>
                    <spbutton asp-value="Edit"></spbutton>

                </form>
            </div>
        </div>
    </div>
</div>
