@model BasketViewModel
@section Head{
    <style type="text/css">
        .productImage {
            width: 60px;
            height: 60px;
            border-radius: 10px;
            float: left;
        }

            .productImage img {
                max-width: 60px;
                max-height: 60px;
                border-radius: 10px;
                border: 1px;
                display: block;
            }
    </style>
}

<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="index.html">Home</a>
                            </li>
                            <li class="is-marked">

                                <a href="dash-my-order.html">My Account</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="dash">
                <div class="container">
                    <div class="row">
                        <partial name="leftSide"/>
                        <div class="col-lg-9 col-md-12">
                            <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                <div class="dash__pad-2">
                                    <h1 class="dash__h1 u-s-m-b-14">My Orders</h1>

                                    <span class="dash__text u-s-m-b-30">Here you can see all products that have been delivered.</span>
                                    <form class="m-order u-s-m-b-30" method="get" id="orderForm">
                                        <div class="m-order__select-wrapper">

                                            <label class="u-s-m-r-8" for="my-order-sort">Show:</label>
                                            <select class="select-box select-box--primary-style" id="my-order-sort" name="id" onchange="document.getElementById('orderForm').submit();" v-model="sort">
                                                <option value="0">Last 5 orders</option>
                                                <option value="1">Last 15 days</option>
                                                <option value="2">Last 30 days</option>
                                                <option value="3">Last 6 months</option>
                                                <option value="4">Orders placed in @DateTime.Now.Year</option>
                                                <option>All Orders</option>
                                            </select>
                                        </div>
                                    </form>
                                    <div class="m-order__list">
                                        @if (Model.PaymentList != null && Model.PaymentList.Count() > 0)
                                        {
                                            foreach (var payment in Model.PaymentList)
                                            {
                                                <div class="m-order__get">
                                                    <div class="manage-o__header u-s-m-b-30">
                                                        <div class="dash-l-r">
                                                            <div>
                                                                <div class="manage-o__text-2 u-c-secondary">Order #@payment.Guid</div>
                                                                <div class="manage-o__text u-c-silver">Placed on @payment.CreatedAt.ToString("dd/MM/yyyy")</div>
                                                            </div>
                                                            <div>
                                                                <div class="dash__link dash__link--brand">

                                                                    <a href="dash-manage-order.html">MANAGE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    @foreach (var orderItem in payment.Orders.FirstOrDefault().Orderitems)
                                                    {
                                                        <div class="manage-o__description">
                                                            <div class="description__container">
                                                                <div class="description__img-wrap">
                                                                    <a href="/@orderItem.Product.Id/@orderItem.Product.Easyurl" target="_blank">
                                                                        <div class="productImage">
                                                                            <img class="u-img-fluid" src="@orderItem.Product.Image" alt="">
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                                <a href="/@orderItem.Product.Id/@orderItem.Product.Easyurl" target="_blank">
                                                                    <div class="description-title">@orderItem.Product.Name</div>
                                                                </a>
                                                            </div>

                                                            <div class="description__info-wrap">
                                                                <div>

                                                                    <span class="manage-o__badge badge--processing">@ShopJoaoDias.Extensions.Functions.PaymentStatus(payment.Status)</span>
                                                                </div>
                                                                <div>

                                                                    <span class="manage-o__text-2 u-c-silver">
                                                                        Quantity:

                                                                        <span class="manage-o__text-2 u-c-secondary">@orderItem.Quantity</span>
                                                                    </span>
                                                                </div>
                                                                <div>

                                                                    <span class="manage-o__text-2 u-c-silver">
                                                                        Total:

                                                                        <span class="manage-o__text-2 u-c-secondary">$@(payment.Totalprice)</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }

                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <span class="alert alert-info">You dont have any order yet</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>

@section Scripts{
    <script src="~/js/vue/vue.js"></script>

    <script>
        var v = new Vue({
            el: "#app",
            data: {
                sort: "@ViewBag.sort"
            }
        })

    </script>
}