@model BasketViewModel

@{
}

<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="/">Home</a>
                            </li>
                            <li class="is-marked">

                                <a href="dashboard.html">My Addresses</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__intro u-s-m-b-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius">
                            <h2 class="dash__h2 u-s-p-xy-20">Select an Address</h2>
                            <div class="dash__table-wrap gl-scroll">
                                <table class="dash__table">
                                    <thead>
                                        <tr>
                                            <th>Address name</th>
                                            <th>Recipient Name</th>
                                            <th>Address</th>
                                            <th>Select</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var address in Model.AddressList)
                                        {
                                            <tr>
                                                <td>@address.Addresname</td>
                                                <td>@address.Name @address.Surname</td>
                                                <td>@address.Address1 @address.City.Name / @address.City.Province.Name</td>
                                                <td>
                                                    <input type="radio" v-model="addressId" name="addressId" value="@address.Id" />
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-12" style="margin-top:30px">
                        <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius">
                            <h2 class="dash__h2 u-s-p-xy-20">Select an Shipping</h2>
                            <div class="dash__table-wrap gl-scroll">
                                <table class="dash__table">
                                    <thead>
                                        <tr>
                                            <th>Logo</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Select</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var shipping in Model.ShippingList)
                                        {
                                            <tr>
                                                <td><img src="@shipping.Logo" height="40"/></td>
                                                <td>@shipping.Name</td>
                                                <td>@shipping.Desiprice</td>
                                                <td>
                                                    <input type="radio" v-model="shippingId" name="shippingId" value="@shipping.Id" />
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                        <form asp-action="CheckOut">
                            <input type="hidden" v-model="addressId" name="addressId" />
                            <input type="hidden" v-model="shippingId" name="shippingId" />
                            <div class="col-12" style="margin-top:30px">
                                <button class="mini-link btn--e-transparent-secondary-b-2" v-if="addressId == 0 || shippingId == 0" disabled>Please select</button>
                                <button class="mini-link btn--e-brand-b-2" v-else v-on:click="checkIt()">Checkout</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/vue/vue.js"></script>
    <script src="~/js/axios/axios.min.js"></script>

    <script type="text/javascript">
    var v = new Vue({
        el:"#app",
        data: {
            addressId:0,
            shippingId:0,
        },
        methods: {
            checkIt: function () {
                if (this.addressId == 0 || this.shippingId == 0){
                    alert("Please select an address and shipping method")
                    return false;
                }
            }
        },
        watch: {
            addressId:function(newVal,oldVal){

            }
        }
    })
    </script>
}